@import "tailwindcss";

.main_container{
  height: 100dvh;
  background-image: url("../src/Default.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
 
}